<button mat-button>Basic</button>
<button mat-button disabled>Disabled</button>
<br>
<br>

<!--Raised-->
<button mat-raised-button>Basic</button>
<button mat-raised-button disabled>Disabled</button>
<br>
<br>

<!--Stoked-->
<button mat-stroked-button>Basic</button>
<button mat-stroked-button disabled>Disabled</button>
<br>
<br>

<!--Flat-->
<button mat-flat-button>Basic</button>
<button mat-flat-button disabled>Disabled</button>
<br>
<br>

<!--Button Icon-->
<button class="btn" mat-raised-button>
  <mat-icon>mail_outline</mat-icon>
</button>

<div class="example-button-container">
  <button mat-fab extended>
    <mat-icon>favorite</mat-icon>
    Basic
  </button>
</div>
